In [4]:
import pandas as pd

# Load CSVs
orders = pd.read_csv("C:/Users/Pradeep/Desktop/Ecommerce-Sales-Analysis/orders_export.csv")
customers = pd.read_csv("C:/Users/Pradeep/Desktop/Ecommerce-Sales-Analysis/customers_export.csv")
products = pd.read_csv("C:/Users/Pradeep/Desktop/Ecommerce-Sales-Analysis/products_export.csv")

In [5]:
# Merge orders + customers
df = orders.merge(customers, on="customer_id", how="left")

# Then merge with products
df = df.merge(products, on="product_id", how="left")

# Preview
df.head()

,order_id,customer_id,product_id,order_date,region,quantity,discount,sales,profit,customer_name,segment,country,city,category,sub_category
0,O0001,C003,P019,2024-09-27,West,9,0.0,3389.82,-594.63,Mr. Marvin Cooper,Consumer,USA,Whitakertown,Technology,Phones
1,O0002,C025,P016,2023-12-25,West,1,0.1,288.11,37.45,Luis Craig,Home Office,USA,Port Peterburgh,Office Supplies,Binders
2,O0003,C086,P094,2025-06-18,West,9,0.0,1540.80,398.73,Krystal Schaefer,Corporate,USA,North Jaredmouth,Furniture,Tables
3,O0004,C043,P031,2025-05-02,North,6,0.1,1345.63,-105.09,Michael Conrad,Home Office,USA,Camposberg,Technology,Copiers
4,O0005,C100,P030,2023-11-26,North,1,0.2,382.55,31.27,Laura Gentry,Consumer,USA,Moraborough,Office Supplies,Paper

In [6]:
print("Shape of merged data:", df.shape)
print("Columns:", df.columns.tolist())

Shape of merged data: (500, 15)
Columns: ['order_id', 'customer_id', 'product_id', 'order_date', 'region', 'quantity', 'discount', 'sales', 'profit', 'customer_name', 'segment', 'country', 'city', 'category', 'sub_category']

In [7]:
total_sales = df['sales'].sum()
print(f"üí∞ Total Sales: ‚Çπ{total_sales:,.2f}")

üí∞ Total Sales: ‚Çπ596,796.32

In [8]:
total_profit = df['profit'].sum()
print(f"üìà Total Profit: ‚Çπ{total_profit:,.2f}")

üìà Total Profit: ‚Çπ28,582.85

In [9]:
avg_discount = df['discount'].mean() * 100
print(f"üîª Average Discount: {avg_discount:.2f}%")

üîª Average Discount: 11.92%

In [11]:
segment_sales = df.groupby('segment')['sales'].sum().sort_values(ascending=False)
print("\nüßç Sales by Segment:\n", segment_sales)

üßç Sales by Segment:
 segment
Consumer       224756.49
Corporate      196942.11
Home Office    175097.72
Name: sales, dtype: float64

In [12]:
category_profit = df.groupby('category')['profit'].sum().sort_values(ascending=False)
print("\nüíº Profit by Category:\n", category_profit)

üíº Profit by Category:
 category
Office Supplies    10582.37
Furniture           9003.99
Technology          8996.49
Name: profit, dtype: float64

In [13]:
region_sales = df.groupby('region')['sales'].sum().sort_values(ascending=False)
print("\nüåç Sales by Region:\n", region_sales)

üåç Sales by Region:
 region
North    178575.43
East     146242.51
South    136174.46
West     135803.92
Name: sales, dtype: float64